@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal
}
 
:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--cor0);
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);

}

header{
    background-image: linear-gradient( to top, var(--cor4), var(--cor2));
    text-align: center;
    color: white;
    padding-top: 30px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
    
}

header > h1{
    margin: 0px;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);
    

}


header > p{
    margin-bottom: 20px;
    padding: 20px;
    margin: auto;
    max-width: 600px;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.281);

}

nav{
    text-align: left;
    padding: 15px 0px;

}

nav > a{
    text-align: left;
    color: var(--cor0);
    text-decoration: none;
    margin-left: px;
    padding: 10px;
    

}

nav > a:hover{

    background-color: var(--cor3);
    color: white;
    border-radius: 5px;
    transition-duration: 0.5s;
    

}

main{
    background-color: white;
    min-width: 300px;
    max-width: 900px;
    margin: 0px auto 15px;
    text-align: center;
    padding: 0px;
    padding-top: 20px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 2px 4px 4px rgba(0, 0, 0, 0.301)
}

main h1{
    font-family: var(--fonte-android);
    font-size: 1.7em;
    color: var(--cor4);
    text-align: center;
    padding-left: 10px;
    padding-bottom: 10px;
    

}

main p{
    text-align: justify;
    margin: 10px 0px;
    padding: 10px 10px;
    line-height: 1.5em;

}

main strong{
    color: var(--cor4);
    font-size: 1.1em;
    font-weight: bold;
    

}

img{
    width: 100%;

}

.img-android{
    max-width: 350px;

}

.links{
    text-decoration: none;
    color: var(--cor4);
    background-color: var(--cor0);
    padding: 3px;
    border-radius: 3px;

}

.links:hover{
    background-color: var(--cor3);
    color: white;
    border-radius: 3px;
    text-decoration: underline;

}

h2{
    text-align: left;
    background-image: linear-gradient(to right, rgba(70, 211, 112, 0.726), white);
    background-attachment: fixed;
    margin-left: 15px;
    margin: 10px;    
    color: var(--cor4);
    font-family: var(--fonte-android);
    border-radius: 3px;

}

.link-irina{
    text-decoration: none;
    color: var(--cor4);

}

.link-irina:hover{
    background-color: var(--cor3);
    color: white;
    padding: 2px;
    border-radius: 3px;
    text-decoration: underline;

}

.video{
    background-color: #1A5C38;
    padding: 20px;
    margin: 0px;
    padding-bottom: 50%;
    position: relative;

}

.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

.tabela{
    background-color: var(--cor0);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);

}

h3{
    background-color: var(--cor3);
    color: white;
    border-radius: 10px 10px 0px 0px ;
    padding: 7px;
    text-align: left;

}

aside > ul{
    text-align: left;
    margin: 0px 15px;
    columns: 2;
    list-style-type:'\2705';
    list-style-position: inside;
    
}

abbr{
    text-decoration: none;

}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 7px;

}

.tabela > a:hover{
    background-color: var(--cor4);
    color: var(--cor0);
    border-radius: 3px;

}

footer  a{
    color: white;
    text-decoration: none;

    
}

footer a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 2px;
    padding: 2px 6px;
    text-decoration: underline;

}